<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nasko.whisper">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For changing profile picture -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".WhisperApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".chats.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="YOUR_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chatroom.ChatroomActivity"
            android:parentActivityName=".chats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chats.MainActivity" />
        </activity>
        <activity
            android:name=".editprofile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".data.socket.service.BackgroundSocketService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="START_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".data.socket.consumer.FcmListenerService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".register.RegisterActivity"/>
    </application>

</manifest>